:root {
  --primary-color: #fe3e6d;
  --secondary-color: #1a93da;
  --gray-100: #f0f4f8;
  --gray-200: #dee4e9;
  --gray-300: #c7cbcf;
  --gray-400: #6b7076;
  --gray-500: #3b3b3b;
  --light-blue: #eaf7ff;
  --white: #fff;
}
