@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;800&display=swap");
@import '@/shared/tokens/Colors.scss';

*,
body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--gray-500);
}
